<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{project.title}}</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
        </li>
    </ul>
</nav>


<div class="container">
    <div class="py-5 text-center">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit augue at nisl blandit, at dignissim urna accumsan. In hac habitasse platea dictumst. Duis augue elit, accumsan et laoreet condimentum, feugiat sit amet nulla. Sed augue nisi, accumsan a diam eu, tincidunt tincidunt orci. Sed vestibulum ligula eget dolor fermentum, a venenatis nibh viverra. Curabitur ut sapien efficitur, viverra mi eu, sodales nibh. Pellentesque eu bibendum velit. Vestibulum dictum aliquet turpis vitae ornare.</p>
    </div>

    {% if error %}
    <div class="alert alert-warning" role="alert">{{error}}</div>
    {% endif %}

    <form action="show_graph" method="POST">
        <h4>Options</h4>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Classifier</legend>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="classifier" id="gridRadios1" value="LinearSVC" checked>
                        <label class="form-check-label" for="gridRadios1">
                            LinearSVC
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="classifier" id="gridRadios2" value="KNeighbors">
                        <label class="form-check-label" for="gridRadios2">
                            KNeighbors
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="classifier" id="gridRadios3" value="SVC">
                        <label class="form-check-label" for="gridRadios3">
                            SVC
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Feature 1</legend>
                <div class="col-sm-2">
                    <select class="form-control" name="feature1">
                        <option selected>pregnant</option>
                        <option>glucose</option>
                        <option>pressure</option>
                        <option>triceps</option>
                        <option>insulin</option>
                        <option>mass</option>
                        <option>pedigree</option>
                        <option>age</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Feature 2</legend>
                <div class="col-sm-2">
                    <select class="form-control" name="feature2">
                        <option>pregnant</option>
                        <option selected>glucose</option>
                        <option>pressure</option>
                        <option>triceps</option>
                        <option>insulin</option>
                        <option>mass</option>
                        <option>pedigree</option>
                        <option>age</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <br>
        <button type="submit" class="btn btn-primary">Generate Graph</button>
        <br>
    </form>
</div>

</body>
</html>