<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{project.title}}</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/help">Help</a>
      </li>
    </ul>
</nav>

<div class="container" style="width: fit-content;">
    <div class="py-5">

        <h1>Result</h1>
        <img src="{{project.graph}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="py-5">
        <h3>Accuracy</h3>
        <p>Training set: {{"{:.2f}".format(project.test_score * 100)}}%</p>
        <p>Validation set: {{"{:.2f}".format(project.valid_score * 100)}}%</p>
    </div>
</div>
</body>
</html>